*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form{
  background-color: rgb(75, 74, 73);
  width: 35%;
  max-width: 100%;
  border-radius: 22px;
  padding: 22px;
  color: white;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  margin:11px
}